{% extends 'base.html.twig' %}

{% block title page.title %}

{% block stylesheets %}
    {{ encore_entry_link_tags('onboarding') }}
{% endblock %}

{% block body_class %}{{ page.slug|raw }}{% endblock %}

{% block background_image %}style="background-image: url({{ asset('build/images/map_background.png') }});"{% endblock %}

{% macro page_url(page) %}
    {{ path('cms_show', {id: page.slug}) }}
{% endmacro %}

{% macro page_link(page) %}
    <a href="{{ _self.page_url(page) }}">{{ page.title }}</a
{% endmacro %}

{% macro page_navigation(context) %}
    {% set previous_page = context.preceding_siblings|last %}
    {% set next_page = context.following_siblings|first %}

    <div class="row">
        <div class="col page-navigation">
            {% if previous_page or next_page %}
                <nav aria-label="{{ 'Page navigation'|trans }}">
                    {% if previous_page %}
                        <a class="btn btn-lg btn-outline-primary float-left" href="{{ _self.page_url(previous_page) }}" aria-label="{{ 'Previous'|trans }}" title="{{ previous_page.title }}">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <span class="btn btn-lg btn-primary float-left btn-disabled">
                            <span class="page-link">
                                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                            </span>
                        </span>
                    {% endif %}
                    {% if next_page %}
                        <a class="btn btn-lg btn-primary float-right" href="{{ _self.page_url(next_page) }}" aria-label="{{ 'Next'|trans }}" title="{{ next_page.title }}">
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <span class="btn btn-lg btn-primary float-right btn-disabled">
                            <span class="page-link">
                                <i class="fas fa-arrow-right" aria-hidden="true"></i>
                            </span>
                        </span>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro page_children(page) %}
    {% if page.children|length > 0 %}
        <fieldset>
            <legend>{{ 'Children'|trans }}</legend>

            <ol class="page-children">
                {% for child in page.children %}
                    <li>{{ _self.page_link(child) }}</li>
                {% endfor %}
            </ol>
        </fieldset>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="container-fluid bg-white">
        <article class="page">
            {% block page_content %}
                <div class="row">
                    <div class="col">
                        <h1 class="page-title">{{ page.title }}</h1>
                    </div>
                </div>

                <div class="row page-content mb-3 mt-3">
                    <div class="col">
                        {{ page.content|raw }}
                    </div>
                </div>

                {% if page.image %}
                    <div class="row page-image mb-3">
                        <div class="col">
                            <img class="img-fluid" src="{{ cms_images_base_url ~ '/' ~ page.image }}"/>
                        </div>
                    </div>
                {% endif %}

            {% endblock %}
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('onboarding') }}
{% endblock %}
