{#
Templates for custom form types.

@see https://symfony.com/doc/current/form/create_custom_field_type.html#creating-the-form-type-template
#}

{# App\Form\Type\MissionType #}

{# https://symfony.com/blog/new-in-symfony-4-3-simpler-form-theming #}
{% block _mission_sensor_sensor_details_widget %}
    <div class="sensor-details">
        <div class="sensor-id">{{ data.id }}</div>
        <div class="sensor-type">{{ data.type }}</div>
    </div>

    <div style="display: none">
        {{- block('form_widget') -}}
    </div>
{% endblock %}

{% block mission_sensor_warning_widget %}
    <div class="mission-sensor-warning-widget">
        {{- block('collection_widget') -}}
        <div class="row">
            <div class="col-12 text-center">
                <button type="button"
            data-collection-add-new-widget-selector="#{{ form.vars.id }}"
            class="btn btn-outline-primary">{{ 'Add sensor warning'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block mission_sensor_sensor_warning_item_row %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="row mission-sensor-warning-item border-bottom pb-3 mb-3" id="{{ id }}">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    {{ form_row(form.min) }}
                </div>
                <div class="col">
                    {{ form_row(form.max) }}
                </div>
            </div>
            {{ form_row(form.message) }}
        </div>
        <div class="col-12">
            <div class="float-right">
                <button type="button" class="btn text-danger btn-sm ml-0 pl-0" data-collection-remove-widget-selector="#{{ id }}">{{ 'Remove sensor warning'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}
