{% extends 'base.html.twig' %}

{% block title %}Edit MissionTheme{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mission-theme') }}
{% endblock %}

{% block body %}
    <h1>Edit MissionTheme</h1>

    {{ include('mission_theme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mission_theme_index') }}">back to list</a>

    {{ include('mission_theme/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mission-theme') }}
{% endblock %}
