{% extends 'base.html.twig' %}

{% block title %}MissionTheme{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mission-theme') }}
{% endblock %}

{% block body %}
    <h1>MissionTheme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission_theme.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mission_theme.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mission_theme.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ mission_theme.icon }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ mission_theme.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ mission_theme.updatedBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mission_theme.createdAt ? mission_theme.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ mission_theme.updatedAt ? mission_theme.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mission_theme_index') }}">back to list</a>

    <a href="{{ path('mission_theme_edit', {'id': mission_theme.id}) }}">edit</a>

    {{ include('mission_theme/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mission-theme') }}
{% endblock %}
