{% extends 'base.html.twig' %}

{% block title %}{{ 'Mission theme: %title%'|trans({'%title%': theme.title}) }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('mission-theme') }}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-white">
        <article class="missing py-3">
            <div class="bg-success-300 p-3 text-center">
                <h1>{{ theme.title }}</h1>

                <span class="fa-8x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-white"></i>
                        <i class="fas fa-invers fa-{{ theme.icon }}" data-fa-transform="shrink-6"></i>
                    </span>
                </span>

                <p class="description">{{ theme.description|raw }}</p>

                <a class="btn btn-dark" href="{{ path_from_referer('theme_index') }}">{{ 'Back'|trans }}</a>
            </div>
        </article>
    </div>
{% endblock %}
