<article class="row mb-3">
    <div class="col">
        <div class="row">
            <div class="col">
                <span>{{ sensor }}</span>
            </div>
            <div class="col bg-light text-right">
                <span>{{ amount }}</span>
            </div>
            <div class="col-auto">
                <span data-toggle="popover" title="{{ sensor }}" data-content="<p>{{ description }}</p><a href='#' class='btn btn-primary btn-sm btn-block'>Læs mere</a>">
                    <i class="fas fa-info-circle text-primary-100"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</article>
