{% extends 'base.html.twig' %}

{% block title %}Experiment index{% endblock %}

{% block content %}
    <h1>Experiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Sensors'|trans }}</th>
                <th>{{ 'Measurements'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
                <th>{{ 'Finished at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for experiment in experiments %}
            <tr>
                <td>{{ experiment.title }}</td>
                <td>{{ experiment.sensors|length }}</td>
                <td>{{ experiment.measurements|length }}</td>
                <td>{{ experiment.createdAt ? experiment.createdAt|date }}</td>
                <td>{{ experiment.finishedAt ? experiment.finishedAt|date }}</td>
                <td>
                    <a href="{{ path('experiment_show', {'id': experiment.id}) }}">{{ 'Show'|trans }}</a>
                    <a href="{{ path('experiment_edit', {'id': experiment.id}) }}">{{ 'Edit'|trans }}</a>
                    <a href="{{ path('experiment_app', {'id': experiment.id}) }}">{{ 'App'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('experiment_new') }}">Create new</a>
{% endblock %}
