{% extends 'cms/page/show.html.twig' %}

{% block page_content %}
    <div class="onboarding-progress" style="margin-left: -15px; margin-right: -15px;">
        {% set current = preceding_siblings|length %}
        {% set total = preceding_siblings|length + following_siblings|length %}

        {% if current > 0 %}
            <div class="progress mb-1" style="height: 5px; border-radius: 0;">
                <div class="progress-bar" role="progressbar" style="width: {{ 100 * current / total }}%;" aria-valuenow="{{ 100 * current / total }}%" aria-valuemin="0" aria-valuemax="100" title="{{ current }}/{{ total }}"></div>
            </div>
            <p class="text-center small text-muted">{{ 'Onboarding step'|trans }}: {{ current }}/{{ total }}</p>
        {% endif %}
    </div>

    {{ parent() }}

    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            {% if current == 0 %}
                {% set next_sibling = following_siblings|first|default(null) %}
                {% if next_sibling %}
                    <a class="btn btn-primary btn-block" href="{{ _self.page_url(next_sibling) }}">{{ 'Start introduction'|trans }}</a>
                {% endif %}
                <a class="btn btn-link btn-block" href="{{ path('theme_index') }}">{{ 'Skip introduction'|trans }}</a>
            {% elseif current == total %}
                <a class="btn btn-primary btn-block complete-onboarding" href="{{ path('mission_index') }}">{{ 'Explore the data missions'|trans }}</a>
                {% set first_intro_page = preceding_siblings|length > 1 ? preceding_siblings[1] %}
                {% if first_intro_page %}
                    <a class="btn btn-link btn-block" href="{{ _self.page_url(first_intro_page) }}">{{ 'Restart introduction'|trans }}</a>
                {% endif %}
            {% else %}
                {{ _self.page_navigation(_context) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
