{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row mt-3 d-flex justify-content-end">
        <div class="col-auto">
            <a class="btn btn-dark mr-3" href="{{ path_from_referer('mission_index') }}">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-success px-md-5">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
