{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Mission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Geolocation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.location }}</td>
                <td>
                    {% if mission.latitude and mission.longitude %}
                        ({{ mission.latitude|number_format(4) }}, {{ mission.longitude|number_format(4) }})
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('mission_show', {'id': mission.id}) }}">show</a>
                    <a href="{{ path('mission_edit', {'id': mission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mission_new') }}">Create new</a>

    <div id="chart"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('mission/map') }}
{% endblock %}
