{% extends 'base.html.twig' %}

{% block title %}Mission index
{% endblock %}

{% block body %}

	{% set map_options = {
        missions: missions_data,
        show_url_template: path('mission_show', {'id': '%id%'})|replace({('%'|url_encode): '%'})
    } %}

	<div id="map" class="map" data-options="{{ map_options|json_encode }}"></div>

	<a href="{{ path('theme_index') }}" class="btn btn-lg btn-success rounded-circle btn-add-new-mission shadow">
		<i class="fas fa-plus"></i>
		<span class="sr-only">{{ 'Create new mission'|trans }}</span>
	</a>
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('mission') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('mission') }}
{% endblock %}
