{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Mission index</h1>

    {% set map_options = {
        missions: missions_data,
        show_url_template: path('mission_show', {'id': '%id%'})|replace({('%'|url_encode): '%'})
    } %}

    <div id="map" data-options="{{ map_options|json_encode }}"></div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Location'|trans }}</th>
                <th>{{ 'Geolocation'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.location }}</td>
                <td>
                    {% if mission.latitude and mission.longitude %}
                        ({{ mission.latitude|number_format(4) }}, {{ mission.longitude|number_format(4) }})
                    {% else %}
                        –
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('mission_show', {'id': mission.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('theme_index') }}">{{ 'Create new mission'|trans }}</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mission/index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('mission/index') }}
{% endblock %}
