{% extends 'base.html.twig' %}

{% block title %}{{ 'Data mission: {title}'|trans({'{title}': mission.title}) }}{% endblock %}

{% macro render_qoi(qoi) %}
    <dl class="sensor-qoi">
        {% for key, value in qoi %}
            {% if value.type|default(null) == 'Property' %}
                <dt>{{ key|split('#')|last|trans }}</dt>
                {% if value['https://w3id.org/iot/qoi#hasRatedValue']['value']|default(false) %}
                    <dd>
                        {{ value['https://w3id.org/iot/qoi#hasRatedValue']['value'] }} ({{ 'Rated'|trans }})
                    </dd>
                {% endif %}

                {% if value['https://w3id.org/iot/qoi#hasAbsoluteValue']['value']|default(false) %}
                    <dd>
                        {{ value['https://w3id.org/iot/qoi#hasAbsoluteValue']['value'] }} ({{ 'Absolute'|trans }})
                    </dd>
                {% endif %}
            {% endif %}
        {% endfor %}
    </dl>
{% endmacro %}

{% block content %}
    <div class="container-fluid bg-white">
        <article class="mission py-3">

            {% include '_nav_close.html.twig' with {'nav_path': path('mission_index')} %}

            <h1>
                {{ mission.title }}
            </h1>
            <div class="row">
                <div class="col">
                    <p class='text-primary-faded'>
                        {{ mission.theme.title }}<br/>
                        <i class='fas fa-map-marker-alt mr-1'></i>{{ mission.location }}
                    </p>
                    <p>{{ mission.description }}</p>
                </div>
                <div class="col-auto">
                    <a href="{{ path('mission_edit', {id: mission.id}) }}" class="btn btn-primary btn-sm">{{ 'Edit mission'|trans }}</a>
                </div>
            </div>

            <div id="app" data-options="{{ app_options|default(null)|json_encode }}"></div>

            <article class="mission-sources mb-5">
                <div class="row my-3">
                    <div class="col-auto">
                        <h2>{{ 'Mission sensors'|trans }}</h2>
                    </div>
                    <div class="col">
                        <a href="{{ path_with_referer('mission_sensor_add', {mission: mission.id}) }}" class="btn btn-success btn-sm rounded-circle" title="{{ 'Add mission sensor'|trans }}">
                            <span class='fas fa-plus'></span>
                        </a>
                    </div>
                    <div class="col-12 mb-3">
                        {{ 'Sensors connected to your mission'|trans }}
                    </div>
                </div>

                {# @TODO: Make this a React component #}
                {% for mission_sensor in mission.missionSensors %}
                    {% set sensor = mission_sensor.sensor %}
                    {% set missing_value = '👻' %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <span class="text-primary-faded">{{ mission_sensor.name|default(sensor.id) }}</span>
                                        <a href="{{ path_with_referer('mission_sensor_edit', {mission: mission.id, id: mission_sensor.id}) }}" class="btn btn-sm d-inline">
                                            <i class="fas fa-edit text-primary"></i>
                                            <span class="sr-only">{{ 'Edit mission sensor'|trans }}</span>
                                        </a>
                                    </div>

                                    <div class="small bg-light">
                                        <dl class="row">
                                            <dt class="col-sm-3 mission-sensor-id sensor-id">{{ 'Sensor id'|trans }}</dt>
                                            <dd class="col-sm-9 mission-sensor-id sensor-id"><div class="text-truncate" title="{{ sensor.id }}">{{ sensor.id }}</div>
                                                {#
                                                <div class="col-auto">
                                                    <span data-toggle="popover" title="{{ sensor.type }}" data-content="<p>{{ sensor.type }}</p><a href='#' class='btn btn-primary btn-sm btn-block'>Læs mere</a>">
                                                        <i class="fas fa-info-circle text-primary-100"></i>
                                                    </span>
                                                </div>
#}
                                            </dd>

                                            <dt class="col-sm-3 mission-sensor-identifier sensor-identifier">{{ 'Identifier'|trans }}</dt>
                                            <dd class="col-sm-9 mission-sensor-identifier sensor-identifier">{{ sensor.identifier|default(missing_value) }}</dd>

                                            <dt class="col-sm-3 mission-sensor-observation-type sensor-observation-type">{{ 'Observation type'|trans }}</dt>
                                            <dd class="col-sm-9 mission-sensor-observation-type sensor-observation-type">{{ sensor.observationType ? sensor.observationType|trans : missing_value }}</dd>

                                            {% if sensor.qoi|default(false) %}
                                                <dt class="col-sm-3 mission-sensor-qio sensor-qio">{{ 'Quality of information'|trans }}</dt>
                                                <dd class="col-sm-9 mission-sensor-qio sensor-qio">
                                                    {{ _self.render_qoi(sensor.qoi) }}
                                                </dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        {{ 'No sensors added yet'|trans }}
                        <a href="{{ path_with_referer('mission_sensor_add', {mission: mission.id}) }}" class="btn btn-link">{{ 'Add a sensor'|trans }}</a>
                    </div>
                {% endfor %}
            </article>

            {% if export_formats|default(false) %}
                <article id="export" class="mission-export mb-5">
                    {% include "_article_header.html.twig" with {'title': 'Export', 'add_button': false, 'edit_button': false} %}
                    <div class="row">
                        <div class="col-12 mb-3">
                            {{ 'Use the buttons below to export your missions log, data and chart'|trans }}
                        </div>
                        <div class="col-auto mb-3 mb-md-0">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="export-mission-log-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'Export mission log'|trans }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="export-mission-log-button">
                                    {% for format in export_formats %}
                                        <a href="{{ path('mission_log', {id: mission.id, _format: format}) }}" class="dropdown-item">{{ 'Messages as'|trans }} .{{ format }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-auto mb-3 mb-md-0">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="export-mission-log-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'Export measurements'|trans }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="export-mission-log-button">
                                    {% for format in export_formats %}
                                        <a href="{{ path('mission_measurements', {id: mission.id, _format: format}) }}" class="dropdown-item">{{ 'Data as'|trans }} .{{ format }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-auto mb-3 mb-md-0">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="export-mission-log-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'Export chart'|trans }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="export-mission-log-button">
                                    {% for format in ['png', 'jpg', 'pdf'] %}
                                        <button class="dropdown-item" data-export="chart" data-type="image" data-format="{{ format }}" data-options="{{ {filename: export_name}|json_encode }}">{{ 'Image as'|trans }} .{{ format }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}

            {% if mission.finishedAt %}
                <div class="alert alert-dark position-sticky fixed-bottom shadow-sm" style="bottom: 1rem;">
                    {{ 'Mission finished at {finished_at}'|trans({'{finished_at}': mission.finishedAt|date}) }}
                </div>
            {% elseif finish_mission_form is defined %}
                <article class="mission-finish mb-3">
                    {% include "_article_header.html.twig" with {'title': 'End mission', 'add_button': false, 'edit_button': false} %}
                    {{ form_start(finish_mission_form) }}
                        <div class="row">
                            <div class="col-12 mb-3">
                                {{ 'Finish your mission when you no longer want to collect data, or if your sensors no longer deliveres data for this mission.'|trans }}
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-danger">{{ 'Finish mission'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(finish_mission_form) }}
                </article>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('mission') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('mission/show') }}
{% endblock %}

{% block _translation %}
    {# Help the translation extractor #}

    {{ 'alert'|trans }}
    {{ 'measurement'|trans }}
    {{ 'system'|trans }}
    {{ 'user'|trans }}

    {# QoI #}
    {{ 'age'|trans }}
    {{ 'completeness'|trans }}
    {{ 'frequency'|trans }}
    {{ 'plausibility'|trans }}

    {# Observation types #}
    {{ 'urn:ngsi-ld:Temperature'|trans }}
    {{ 'urn:ngsi-ld:Luminance'|trans }}
{% endblock %}
