{% extends 'base.html.twig' %}

{% block title %}{{ 'Add mission sensor'|trans }}{% endblock %}

{% block content %}
    <div class="container-fluid bg-white">
        <article class="mission-sensor py-3">

            {% include '_nav_close.html.twig' with {'nav_path': path_from_referer('mission_show', {id: mission.id})} %}
            <h1>{{ 'Add mission sensor'|trans }}</h1>

            {% set options = {
                searchUrl: url('mission_sensor_search', {mission: mission.id}),
                addSensorUrl: url('mission_sensor_new', {mission: mission.id, sensor: '%sensor%'})|replace({('%'|url_encode): '%'}),
                editSensorUrl: url('mission_sensor_edit', {mission: mission.id, id: '%sensor%'})|replace({('%'|url_encode): '%'}),
                observationTypesUrl: url('api_data_observation_types'),
                } %}
            <div id="app" data-options="{{ options|json_encode }}">
                {{ 'Loading app …'|trans }}
            </div>
        </article>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mission_sensor/add') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mission_sensor/add') }}
{% endblock %}
