{% extends 'base.html.twig' %}

{% from 'mission/show.html.twig' import render_qoi %}

{% block title %}{{ 'Edit mission sensor'|trans }}{% endblock %}

{% block content %}
    {% set is_new_sensor = mission_sensor.id is null %}

    <div class="container-fluid bg-white">
        <article class="mission-sensor py-3">
            <h1>{{ is_new_sensor ? 'Create mission sensor'|trans : 'Edit mission sensor'|trans }}</h1>

            {{ form_start(form) }}
                {% set sensor = mission_sensor.sensor %}
                {% set missing_value = '👻' %}

                <div class="form-group row">
                    {{ form_label(form.sensor) }}
                    <div style="display: none">{{ form_widget(form.sensor) }}</div>

                    <div class="col-sm-10">
                        <div class="small bg-light">
                            <dl class="row">
                                <dt class="col-sm-3 mission-sensor-id sensor-id">{{ 'Sensor id'|trans }}</dt>
                                <dd class="col-sm-9 mission-sensor-id sensor-id"><div class="text-truncate" title="{{ sensor.id }}">{{ sensor.id }}</div>
                                </dd>

                                <dt class="col-sm-3 mission-sensor-identifier sensor-identifier">{{ 'Identifier'|trans }}</dt>
                                <dd class="col-sm-9 mission-sensor-identifier sensor-identifier">{{ sensor.identifier|default(missing_value) }}</dd>

                                <dt class="col-sm-3 mission-sensor-observation-type sensor-observation-type">{{ 'Observation type'|trans }}</dt>
                                <dd class="col-sm-9 mission-sensor-observation-type sensor-observation-type">{{ sensor.observationType ? sensor.observationType|trans : missing_value }}</dd>

                                {% if sensor.qoi|default(false) %}
                                    <dt class="col-sm-3 mission-sensor-qio sensor-qio">{{ 'Quality of information'|trans }}</dt>
                                    <dd class="col-sm-9 mission-sensor-qio sensor-qio">
                                        {{ render_qoi(sensor.qoi) }}
                                    </dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                </div>

                {{ form_widget(form) }}

                <div class="row border-top pt-3">
                    <div class="col">
                        {% if delete_form|default(false) %}
                            {# TODO: Make this button do what it says. #}
                            <button id="delete-form-submit" type="button" class="btn btn-danger">{{ 'Remove sensor from mission'|trans }}</button>
                        {% endif %}
                    </div>
                    <div class="col-auto ml-auto">
                        <a class="btn btn-dark mr-3" href="{{ path_from_referer('mission_show', {id: mission_sensor.mission.id}) }}">{{ 'Cancel'|trans }}</a>
                        <button class="btn btn-success px-md-5">{{ is_new_sensor ? 'Create'|trans : 'Update'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}

            {% if delete_form|default(false) %}
                {{ form_start(delete_form, {attr: { id: 'delete-form' }}) }}
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~mission_sensor.id) }}"/>
                {{ form_end(delete_form) }}

                <script>
                    document.getElementById('delete-form-submit').addEventListener('click', function () {
                        if (confirm({{ 'Confirm that you want to remove this sensor from the mission.'|trans|json_encode|raw }})) {
                            document.getElementById('delete-form').submit();
                        }
                    })
                </script>

            {% endif %}
        </article>
    </div>
{% endblock %}


{% block stylesheets %}
    {#{ parent() }#}
    {{ encore_entry_link_tags('mission_sensor/edit') }}
{% endblock %}

{% block javascripts %}
    {#{ parent() }#}
    {{ encore_entry_script_tags('mission_sensor/edit') }}
{% endblock %}
