{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit mission sensor'|trans }}{% endblock %}

{% block content %}
    {% set is_new_sensor = mission_sensor.id is null %}

    <div class="container-fluid bg-white">
        <article class="mission-sensor py-3">
            <h1>{{ is_new_sensor ? 'Create mission sensor'|trans : 'Edit mission sensor'|trans }}</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="row border-top pt-3">
                    <div class="col">
                        {% if not is_new_sensor %}
                            {# TODO: Make this button do what it says. #}
                            {# <button type="button" class="btn btn-danger">{{ 'Remove sensor from mission'|trans }}</button> #}
                        {% endif %}
                    </div>
                    <div class="col-auto ml-auto">
                        <a class="btn btn-dark mr-3" href="{{ path_from_referer('mission_show', {id: mission_sensor.mission.id}) }}">{{ 'Cancel'|trans }}</a>
                        <button class="btn btn-success px-md-5">{{ is_new_sensor ? 'Create'|trans : 'Update'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </article>
    </div>
{% endblock %}


{% block stylesheets %}
    {#{ parent() }#}
    {{ encore_entry_link_tags('mission_sensor/edit') }}
{% endblock %}

{% block javascripts %}
    {#{ parent() }#}
    {{ encore_entry_script_tags('mission_sensor/edit') }}
{% endblock %}
